.checkout__head {
  padding: 10px 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.checkout__ad {
  width: 100%;
}
.checkout__empty {
  padding: 15px;
}
