.footer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* padding-bottom: 0; */
}
.footer img {
  object-fit: contain;
  width: 80px;
  margin-left: 5px;
}
